@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

*{
    font-family: 'Source Sans Pro', sans-serif;                                           
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
  width: 1103.4078369140625px
  height: 29.46099090576172px
  top: 35.02320098876976px
  left: 171.5922088623048px
  padding: 0px 0.00006103515625px 0px 0px
  display: flex;
  justify-content: space-between;
  align-items: center;
}
                
